mixin ie(condition)
    | <!--[!{condition}]>
    block
    | <!--[endif]-->

doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Facemakr.io: the Android Wear Watch Face creation site for both Facer and WatchMaker faces.')
    meta(name='author', content='devmoose')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/plugins/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/plugins/prism/prism.css')
    link(rel='stylesheet', id='theme-style', href='/assets/css/styles-2.css')
    +ie('if lt IE 9')
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    title facemakr.io
  body(data-spy='scroll')
    div(id='fb-root')
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    header(id='header',class='header')
      div(class='container')
        h1(class='logo pull-left')
          a(class='scrollto',href='#promo')
            span(class='logo-title') facemakr.io
        nav(id='main-nav', class='main-nav navbar-right', role='navigation')
          div(class='navbar-header')
            button(class='navbar-toggle',type='button',data-toggle='collapse',data-target='#navbar-collapse')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
          div(class='navbar-collapse collapse', id='navbar-collapse')
            ul(class='nav navbar-nav')
              li(class='active nav-item sr-only')
                a(class='scrollto',href='#promo') Home
              li(class='nav-item')
                a(class='scrollto',href='#about') About
              li(class='nav-item last')
                a(class='scrollto',href='#contact') Contact
    section(id='promo', class='promo section offset-header')
      div(class='container text-center')
        h2(class='title') face
          span(class='highlight') makr
        p(class='intro') A free online Android Wear watchface designer for both Facer and WatchMaker companion apps.
        p Coming soon&#0153;!
      div(class='social-media')
        div(class='social-media-inner container text-center')
          ul(class='list-inline')
            li(class='twitter-follow')
              a(href='https://twitter.com/facemakr_io',class='twitter-follow-button',data-show-count='false') Follow @facemakr
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            li(class='twitter-tweet')
              a(href='https://twitter.com/share',class='twitter-share-button',data-via='facemakr_io',data-hashtags='facemakr') Tweet
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            li(class='facebook-like')
              div(class='fb-like',data-href='http://www.facemakr.io/',data-layout='button_count',data-action='like',data-show-faces='false',data-share='true')
    section(id='about',class='about section')
      div(class='container')
        h2(class='title text-center') What is facemakr?
        p(class='intro text-center') facemakr is an online designer for watchfaces for Android Wear. It supports both Facer and WatchMaker apps, with a single face design being exportable to both formats.
        div(class='row')
          div(class='item col-md-4 col-sm-6 col-xs-12')
            div(class='icon-holder')
              i(class='fa fa-search')
            div(class='content')
              h3(class='sub-title') Live preview
              p See your design come to life as you create it!
          div(class='item col-md-4 col-sm-6 col-xs-12')
            div(class='icon-holder')
              i(class='fa fa-clock-o')
            div(class='content')
              h3(class='sub-title') Single design, multiple formats
              p Create your design once, download it to either Facer or WatchMaker formats.
          div(class='item col-md-4 col-sm-6 col-xs-12')
            div(class='icon-holder')
              i(class='fa fa-share-alt')
            div(class='content')
              h3(class='sub-title') Share with your friends
              p Easily share your creations with the online community.
    section(id='contact',class='contact section has-pattern')
      div(class='container')
        div(class='contact-inner')
          h2(class='title text-center') Contact
          p(class='intro text-center') Have a question or comment? Or maybe you just want to reach out? Check us out on Twitter or Facebook, or shoot us an email below.
          div(class='info text-center')
            h4(class='sub-title') Get Connected
            ul(class='social-icons list-inline')
              li
                a(href='https://twitter.com/facemakr_io',target='_blank')
                  i(class='fa fa-twitter')
              li
                a(href='#',target='_blank')
                  i(class='fa fa-facebook')
              li(class='last')
                a(href='mailto:facemakr.io@gmail.com')
                  i(class='fa fa-envelope')
    footer(class='footer')
      div(class='container text-center')
        small(class='copyright') Copyright &copy;2015. All watchface designs are property of the original creator.
        br
        small(class='copyright') Facemakr is in no way affiliated with Google, any smart watch manufacturer, or the creators of Facer or WatchMaker.
    script(type='text/javascript',src='/assets/plugins/jquery-1.11.1.min.js')
    script(type='text/javascript',src='/assets/plugins/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript',src='/assets/plugins/jquery.easing.1.3.js')
    script(type='text/javascript',src='/assets/plugins/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript',src='/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js')
    script(type='text/javascript',src='/assets/plugins/prism/prism.js')
    script(type='text/javascript',src='/assets/js/main.js')